body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: #dededd;
}
.boton-menu{
    transform: translateX(110%);
}

.nav{
    display: flex;
    width: 100%;
    background-color: rgba(30, 190, 165, 0.95);
    height: 91px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}
.nav-links{
    display: flex;
    height: 91px;
    text-align: center;
    margin: auto;
    width: 100%;
    flex-direction: row;
    
}
.nav-links:hover{
    border-bottom: 3px solid #2affdf;
    
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to top, rgba(255,255,255,.5) 0%, rgba(255,255,255,0.3) 15%, rgba(0,0,0,0) 100%)
    
}

.nav-links a {
    margin: auto;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;

}
.logo{
    display: flex;
    width: 200px;
  
}
.main{
    margin-top: 180px;
}
.logo img{
    height: 100px;
    width: 100px;
}
.contenedor{
    position: relative;
    width: 100%;
    
    overflow: hidden;


 
    
    
}

/*---------------------------BANNER-------------------------------------------------*/ 






.banner{
    position: relative;
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    background-color: #388672;
    height: 100px;
    justify-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.logo_banner{
    
    object-fit: cover;
    width: 500px;
    height: 500px;
    transition: 2s;
}
.banner_anim{
    animation-name: banner;
    animation-duration: 10s;
    
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes banner{
    from{

    }
    to{
        transform: translateY(-300px);
    }
}
.linea{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 300px;
    height: 10px;
    position: relative;
    border-radius: 20px;
}
.subtitulo{
    color: #388672;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
}
/*---------------------------INICIO-------------------------------------------------*/ 


.presentaciones-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    
    justify-content: space-evenly;
}
.presentacion{
    position: relative;
    display: flex;
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #388672;
    justify-content: space-evenly;
    box-shadow: 5px 0px 10px #7a7a7a;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.imagen-presentacion{
    
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: .5s;
}
.imagen-presentacion:hover{
    
    filter: grayscale(.8);
    
}
.imagen-presentacion-animacion{
    animation-name: img-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes img-anim{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);

        

    }
}



/*---------------------------Footer-------------------------------------------------*/ 



.footer{
    display: flex;
    background-color: #388672;
    width: 100%;
    height: 190px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 0.01px;
    flex-wrap: wrap;

}
.redes{
    
    margin: 20px;
    font-size: 50px;
    color: #2affdf;
    transition: .3s;
}
.redes:hover{
    margin: 20px;
    font-size: 50px;
    color: #ffffff;
    transform: scale(1.05);
}
.derechos{
    color: #fff;
}



/*---------------------------SERVICIO-------------------------------------------------*/ 




.banner_servicio{
    position: relative;
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    background-color: #388672;
    height: 100px;
    align-items: center;
    
    
    overflow: hidden;
}
.logo_banner_servicio{
    font-size: 50px;
    color: #fff;
    
    
    transition: 2s;
    text-align: center;
}
.banner_anim_servicio{
    animation-name: banner_servicio;
    animation-duration: 10s;
    
    animation-fill-mode: forwards;
    
}
@keyframes banner_servicio{
    from{
        transform: translateX(-500px);

    }
    
    to{
        transform: translateX(90%);
        color: #2affdf;
    }
}

.contenedor-productos{
    display: flex;
    width: 100%;
    height:100%;
    background-color: #a0a0a0;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.producto{
    
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: turquoise;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0px 0px 10px #000;
    transition: .5s;
    

    
}
.producto-texto{
    width: 50%;
    text-align: center;
    font-size: 15px;
    color: #fff;
}



/*---------------------------INFORMACION-------------------------------------------------*/ 


.info{
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, .5);
    object-fit: cover;
    height: 100%;
    width: 100%;
    
    
    justify-items: center;
    justify-content: center;
    transition: 1s;
   

    
}
.info:hover{
    opacity: 1;
}
.info p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-top: 20%;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    line-height: 20px;
    

}
.precio{
    position: absolute;
    margin-top: 80%;
    width: 100%;
    text-align: center;
    color: #388672;
    background-color: rgba(255, 255, 255, .4);

}
.but-comprar{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #65b145;
    
    text-align: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-top: 100%;
    letter-spacing: 2px;
    transition: .5s;
}
.but-comprar:hover{
    transform: scale(1.05);
    

    
}


/*---------------------------PARRAFO MAIN-------------------------------------------------*/ 


.parrafo-main{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    
}
.parrafo-main p{
    width: 70%;
    
}


/*--------------------------Slider-----------------*/
.activado{
    
}